@font-face {
    font-family: "mulishNormal";
    src: url("fonts/mulish-normal.ttf");
}

/* Text Highlighter */

.highlight{
  background-color: #C4EFD0;
  padding-left: 2px;
  padding-right: 2px;
}

/* Tooltip */

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #C4EFD0;
    color: #111;
    font-size: 15px;
    position: absolute;
    padding: 1px 5px 2px 5px;
    /* left: 100%; */
    left:0px;
    top:30px;
    white-space: normal;
    min-width: 250px;
    opacity: 0;
    border: 2px solid #7fa188;
    border-radius: 4px;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}

/* Popup */

.img-container{
  text-align: center;
  width:300px;
}

.img-container > img{
  width:150px;
}

.text-container{
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 14px;
}


/* button */

button{
  border: none;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  background-color: #FFF;
}

.enabled{
  color: #bf0000;
  border: 2px solid #bf0000; /* Red */
}

.disabled {
  color: #4CAF50;
  border: 2px solid #4CAF50; /* Green */
}
